@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Oswald:wght@700&display=swap');

.nav-container {
    flex-direction: column;
    flex-wrap: nowrap;
    display: flex;
    align-items: baseline;
    border: 1px none white;
    border-bottom-style: solid;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    /*height: 100%;*/
    min-height: 100%
}

.background-gradient-1 {
    background: rgb(207,95,132) no-repeat scroll;
    background: -moz-linear-gradient(102deg, rgba(207,95,132,1) 0%, rgba(119,87,160,1) 30%, rgba(166,242,221,1) 100%) ;
    background: -webkit-linear-gradient(102deg, rgba(207,95,132,1) 0%, rgba(119,87,160,1) 30%, rgba(166,242,221,1) 100%) ;
    background: linear-gradient(102deg, rgba(207,95,132,1) 0%, rgba(119,87,160,1) 30%, rgba(166,242,221,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cf5f84",endColorstr="#a6f2dd",GradientType=1);
    background-repeat:no-repeat;
    background-size: cover;
}

.background-circular-gradient-1 {
    background: rgb(214, 139, 237);
    background: radial-gradient(circle, rgba(214, 139, 237, 1) 0%, rgba(154, 246, 208, 1) 100%);
}

.font-family-ibm {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

.font-family-oswald {
    font-family: 'Oswald', sans-serif;
}

.font-color-white {
    color: #FFFFFF;
}

.text-underline {
    text-decoration: underline;
}

.text-transform-uppercase {
    text-transform: uppercase;
}

.hero-height {
    min-height: 100vh;
}

h1,
.non-hero-h1 {
    font-size: 4em;
    font-weight: 700;
}

.capabilities-h1 {
    font-size: 3em;
}

.font-size-4em,
h1.font-size-4em{
    font-size: 4em;
}

.font-size-5em,
h1.font-size-5em {
    font-size: 5em;
}

p, ul.blurb {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
}

.display-block {
    display: block;
}

.display-flex {
    display: flex;
}

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-center {
    justify-content: center;
}

a, a:visited {
    display: inline-block;
    height: 100%;
    width: 100%;
    color: #FFFFFF;
    background: transparent;
    text-decoration: none;
}

a:hover {
    /*color: #000000;*/
    /*background: #FFFFFF;*/
    /*padding-bottom: 2px;*/
    border-bottom: 1px solid #ffffff;
}

ul.nav {
    padding: 0;
    background-color: transparent;
    text-align: center;
}

ul.nav > li {
    /*border: 1px solid white;*/
    /*border-top: none;*/
    /*border-bottom: none;*/
    display: block;
    padding: 0;
    margin: 0;
}

ul.nav {
    width: 100%;
}

.flex-1 {
    flex: 1;
}

.logo-link {
    font-size: 2em;
    padding: 0 1.75em;
}

.flex-direction-column {
    flex-direction: column;
}

ul.nav {
    word-spacing:-.25em;
}

ul.nav * {
    word-spacing:normal;
}

ul.nav a {
    padding: 1.3125em 2em;
}

.vertical-align-middle {
    vertical-align: middle;
}

.align-self-stretch {
    align-self: stretch;
}

.align-self-center {
    align-self: center;
}

.text-decoration-color-teal {
    text-decoration-color: #44E2AE;
}

.justify-content-space-evenly {
    justify-content: space-evenly;
}

.line {
    text-decoration: underline;
    text-underline-offset: -0.125em;
    text-decoration-thickness: 0.12em;
    text-decoration-skip-ink: none;
    text-decoration-color: #44E2AE;
}

a.cta-link,
a.cta-link:visited {
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    padding-bottom:  3px;
    border-bottom: 5px solid #fff;
    width: unset;
    height: unset;
}

a.cta-link:hover {
    padding-bottom: 3px;
    border-bottom: 5px dotted #fff;
}

.font-weight-700 {
    font-weight: 700;
}

.container-join-journey {
    padding: 0;
}

.margin-top-4 {
    margin-top: 32px;
}

.margin-top-5 {
    margin-top: 40px;
}

.margin-bottom-3 {
    margin-bottom: 24px;
}

.margin-bottom-4 {
    margin-bottom: 32px;
}

.margin-bottom-5 {
    margin-bottom: 40px;
}

.margin-left-3em {
    margin-left: 3em;
}

.align-items-center {
    align-items: center;
}

.container-flex-center-padding {
    padding: 0 4em;
}

.width-100 {
    width: 100%;
}

.nav-tainer {
    width: 100%;
}

.text-align-center {
    text-align: center;
}

.heroic-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;
    align-items: center;
    padding: 0 1em;
}

.container-content {
    margin: 0 10%;
    max-width: 1024px;
}

@media only screen and  (min-width: 401px) {
    ul.nav > li {
        display: inline-block;
    }

    h1,
    .non-hero-h1 {
        font-size: 5em;
    }



    .container-join-journey {
        padding: 1.5em;
    }
}

@media only screen and  (min-width: 729px) {
    .nav-container {
        flex-direction: row;
    }

    .nav-tainer {
        width: auto;
    }

    ul.nav {
        width: unset;
    }

    ul.nav a {
        padding: 1.3125em 2em;
    }

    .heroic-content {
        flex-direction: row;
    }

    .container-join-journey {
        padding: 4em;
    }

    .capabilities-h1 {
        font-size: 5em;
    }
}

@media only screen and  (min-width: 845px) {
    ul.nav a {
        padding: 1.3125em 4em;
    }

    h1 {
        font-size: 7.594em;
        font-weight: 700;
    }

    .heroic-content {
        padding: 0 4em;
    }
}

